<div class="footer">
  <img class="one" src="images/roku.png" alt="">
  <div class="two icons">
    <div class="footericon">
      <h5><i class="fab fa-facebook-square"></i></h5>
      <h5><i class="fab fa-twitter-square"></i></h5>
      <h5><i class="fab fa-instagram"></i></h5>
      <h5>Copyright 2017 Roku</h5>
    </div>
    <br>
    <div class="footericon2">
      <h5>Privacy Policy</h5>
      <h5>Terms of Service</h5>
      <h5>Sitemap</h5>
    </div>
  </div>
</div>


<!-- <script type="text/javascript" src="javascripts/menu.js"> -->

</script>
