<div class="user">

<div class="userpart">
<h1>Kids selection</h1>

<div class="usersec">
<div class="useradult">
<div class="userdiv">
<img src="images/kids/Education.png" alt="">
<img src="images/kids/Sports.png" alt="">
<a href="/kidsadv"><img src="images/kids/Adventure.png" alt=""></a> 

</div>
</div>
<div class="userkid">
  <div class="userdiv">
    <img src="images/kids/Comedy.png" alt="">
    <img src="images/kids/Serious.png" alt="">
    <img class="active"src="images/kids/Favourite.png" alt="">
</div>
</div>
</div>
</div>
</div>
