<div class="user">

<div class="userpart">
<h1>Hi, User 1</h1>
<h2>Make you pick!
</h2>
<div class="usersec">
<div class="useradult">
<div class="userdiv">
<img src="images/adult/Superhero.png" alt="">
<img src="images/adult/Fantasy .png" alt="">
<img src="images/adult/Musical .png" alt="">

</div>
</div>
<div class="userkid">
  <div class="userdiv">
    <img class="active"src="images/adult/Romance.png" alt="">
    <img src="images/adult/Sports.png" alt="">
    <img src="images/adult/Mystery.png" alt="">
</div>
</div>
</div>
</div>
</div>
