<div class="header">
  <img class="one" src="images/roku.png" alt="">
  <img class="two" src="images/logo_flashback.png" alt="">
  <div class="three icons">
    <img src="images/profile.png" alt="">
    <img class="menu" src="images/menu.png" alt="">
  </div>
</div>
<div class="menuoverlay">
  <a href="/"><h2>HOME</h2></a>
  <h2>MOVIES</h2>
  <h2>MUSIC</h2>
  <h2>TV SHOWS</h2>
  <h2 class="dropdown">USERS
    <div class="dropdown-content">
      <a href="/adults">User 1</a>
         <a href="/kids">Kid 1</a>
    </div>
  </h2>
</div>

<script type="text/javascript" src="javascripts/menu.js">

</script>
