<div class="user">

<div class="userpart">
<h1>SELECT USER</h1>
<h2>Select User to manage content or add a user to the dashboard
</h2>
<div class="usersec">
<div class="useradult">
<div class="userdiv">
  <a href="../adults">
<i class="fas fa-user"><h3>User 1</h3></i></a>
<i class="fas fa-plus"><h3>New </h3> </i>

</div>
</div>
<div class="userkid">
  <div class="userdiv">
    <a href="../kids">
  <i class="fas fa-user"><h3>Kid 1</h3></i></a>
</div>
</div>
</div>
</div>
</div>
