<div class="welcome">
<!-- <img src="images/index/welcome.png" alt=""> -->
<h2>Your new buddy that will keep you entertained as long as you would like</h2>
<div class="welcome_icons">
  <div class="mov">
<img src="images/index/movies_icon.png" alt="">

  </div>
<div class="tv">
  <img src="images/index/tv_icon.png" alt="">
</div>

<div class="music">
  <img src="images/index/music_icon.png" alt="">
</div>

</div>

<div class="icon_headings">
  <div class="mov">
    <h3>MOVIES</h3>
  </div>
  <div class="tv">
<h3>TV</h3>
  </div>
  <div class="music">
<h3>MUSIC</h3>
  </div>

</div>
</div>
