.header{
padding-top: 1%;
  height: 25%;
  background-color: $headerbg;
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  // grid-auto-rows: minmax(70px, auto);
  grid-gap: 10px;
}

.header{
  img{
    // height: 50%;
    width: 50%;
    padding: 4%;
    // margin-left: 20%;
    align-items: center;
    margin-top: 2%;
  }
}

.icons{
  margin-top: 2%;
  // float: right;
  padding-left: 5%;
  img{
    width: 10%;
align-items: center;
// margin-left: 5%;
 }
}

.one{
  margin-left: 5%;

  grid-column: 1;
}

.two
{
  margin-left: 5%;

  grid-column: 2;
}

.three
{
  margin-left: 5%;

  grid-column: 3;
}


.menuoverlay{
  height: 89%;
  width: 750px;
  background-color: rgba(0,0,0,.9);
  position: absolute;
  z-index: 5;
  overflow-y: hidden;


  h2{
    color: $white;
    margin-top: 5%;
    // width: 100%;
    text-align: right;
    margin-right: 15%;

  }
  h2:hover{
    color: $purple;
    cursor: pointer;
    transition: .2s;
  }
}


.dropdown-content {
    display: none;
    // position: absolute;
    background-color: black;
    max-width: 160px;
    z-index: 1;
    // float: right;
    margin-left: 75%;
}

.dropdown-content a {
    color: $white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover
{
  color: $purple;

}
a{
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
