@import "reset";
@import "colours";
@import "index";
@import "header";
@import "footer";
@import "welcomeA";
@import "userA";
@import "posters";

body{
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-color: $extrabg;
}

.container{
  max-width: 750px;
  margin: 0 auto;
}
