<section id="appA" class=" ">
  <link rel="stylesheet" href="css/styleA.css">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
{{> header}}
{{> welcome}}
{{> genreadult}}
{{> adultposters}}
{{> footer}}
</section>
