<section id="appKA" class=" ">
  <link rel="stylesheet" href="css/styleK.css">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

{{> headerkid}}
{{> welcomekid}}
{{> genrekid}}
<div class="fav">
  {{> kidsposters}}
</div>

  <!-- {{> kidspostersadv}} -->


{{> footer}}
</section>
