<section class="">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- <link rel="stylesheet" href="Css/master.css"> -->

  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

{{> header}}
{{> movieeach}}
{{> footer}}

	<script src="/js/videopage.js"></script>
</section>
